In [28]:
#questions or objectives,
#1.total number of products by category
#2.types of products under Category
#3.total number of products under each Category
#4.most searched type of product under Category
#5.least searched types of product under Category

#questions on variable Brand
#1.total number of Brands searched
#2.number of different Brands
#3.top 10 most searched products by Brand
#4.top 10 least searched products by Brand

#question on Stock Availability
#1.status on availibility of products

#hence our focus will be mainly on the variables Category, Brand and and Stock Availability.

In [29]:
#Importing libraries

#data manipulation
import pandas as pd
import numpy as np
import os

#data visualisation
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [30]:
#importing the dataset
df=pd.read_csv('data.csv')

In [31]:
#first two rows of dataset 
df.head(2)

,Uniq Id,Crawl Timestamp,Category,Product Title,Product Description,Brand,Pack Size Or Quantity,Mrp,Price,Site Name,Offers,Combo Offers,Stock Availibility,Product Asin,Image Urls
0,eb49cc038190f6f03c272f79fbbce894,2019-10-30 11:38:11 +0000,Skin Care,Lee posh Lactic Acid 60% Anti ageing Pigmenta...,PROFESSIONAL GRADE Face Peel: this peel stimul...,Lee Posh,NaN,2000,799,Amazon In,60.05%,NaN,YES,B072BGHNJ1,https://images-na.ssl-images-amazon.com/images...
1,1657cc30c438affede6a5060d6847363,2019-10-31 15:46:54 +0000,Skin Care,Branded SLB Works New 1.5mm Titanium 1200 nee...,Item name: 1.5mm titanium 1200 needles microne...,SLB Works,NaN,2040,2040,Amazon In,0%,NaN,YES,B07QDTZYSJ,https://images-na.ssl-images-amazon.com/images...

In [14]:
#last two rows
df.tail(2)

,Uniq Id,Crawl Timestamp,Category,Product Title,Product Description,Brand,Pack Size Or Quantity,Mrp,Price,Site Name,Offers,Combo Offers,Stock Availibility,Product Asin,Image Urls
29998,3ccde473d9a55023ac0a566bf5448df9,2019-10-31 08:20:12 +0000,Hair Care,"KEYA SETH AROMATHERAPY, DEVICE OF DROP Alopex...",NaN,"KEYA SETH AROMATHERAPY, DEVICE OF DROP",NaN,350,350,Amazon In,0%,NaN,YES,B07KM37RDH,https://images-na.ssl-images-amazon.com/images...
29999,59cd6ea8f1025519a4ce26b2c89fabfc,2019-10-30 07:54:05 +0000,Skin Care,Slss Anti Wrinkle Organic Hyaluronic Acid Vit...,"With 2.5% active Retinol, Hyaluronic Acid, Vit...",Slss,NaN,2134,2134,Amazon In,0%,NaN,YES,B07LB1L8YR,https://images-na.ssl-images-amazon.com/images...

In [15]:
#shape of the dataset i.e number of rows and columns
df.shape

(30000, 15)

In [16]:
#columns in the dataset
df.columns

Index(['Uniq Id', 'Crawl Timestamp', 'Category', 'Product Title',
       'Product Description', 'Brand', 'Pack Size Or Quantity', 'Mrp', 'Price',
       'Site Name', 'Offers', 'Combo Offers', 'Stock Availibility',
       'Product Asin', 'Image Urls'],
      dtype='object')

In [17]:
#deleting unwanted columns using drop command on dataset

df.drop(columns=['Uniq Id','Crawl Timestamp','Product Title','Product Description','Site Name','Product Asin','Image Urls'], inplace=True)

df.head()

,Category,Brand,Pack Size Or Quantity,Mrp,Price,Offers,Combo Offers,Stock Availibility
0,Skin Care,Lee Posh,NaN,2000,799,60.05%,NaN,YES
1,Skin Care,SLB Works,NaN,2040,2040,0%,NaN,YES
2,Skin Care,Generic,NaN,1824,1042,42.87%,NaN,YES
3,Skin Care,Generic,NaN,2185,1399,35.97%,NaN,YES
4,Grocery & Gourmet Foods,Harveys,NaN,594,570,4.04%,NaN,YES

In [18]:
#checking for missing values like NA, N/A, na values
df.isnull().sum()

Category                     0
Brand                       87
Pack Size Or Quantity    19776
Mrp                        699
Price                      600
Offers                     466
Combo Offers             29963
Stock Availibility           0
dtype: int64

In [19]:
df.shape

(30000, 8)

In [32]:
#there are no missing values in Category and Stock Availibility but there are some in Brand
#removing missing values in Brand
df1=df.iloc[:,1] #creatng a seperate list for the Brand
df1
df2=df1.dropna() #removing the missing values
df2 #data on Brand without missing values
df2.isnull().sum()

0

In [21]:
df2.shape

(29913,)

In [22]:
#for getting a concise summary of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
Category                 30000 non-null object
Brand                    29913 non-null object
Pack Size Or Quantity    10224 non-null object
Mrp                      29301 non-null object
Price                    29400 non-null object
Offers                   29534 non-null object
Combo Offers             37 non-null object
Stock Availibility       30000 non-null object
dtypes: object(8)
memory usage: 1.8+ MB

In [23]:
#variable Category
#1.total number of products by category
df["Category"].describe()
#there are 30,000 products by Category in the Product list.

count         30000
unique            6
top       Skin Care
freq          15033
Name: Category, dtype: object

In [24]:
#2.types of products under Category
#3.total number of products under each Category
#4.most searched type of product under Category
#5.least searched types of product under Category
df["Category"].value_counts()

#there are 6 types of products under Category namely Skin Care, Grocery & Gourmet Foods, Hair Care, Bath & Shower, Fragrance and Detergents & Dishwash.

#there are 15033 products under Skin Care, 8064 products under  Grocery & Gourmet Foods, 2459 products under Hair Care, 2140 products under Bath & Shower, 2107 under Fragrance and 197 under Detergents & Dishwash.

#Skin Care was the most searched type of product compared to other products.

#Detergents & Dishwash was the least searched type of product compared to other products.

Skin Care                  15033
Grocery & Gourmet Foods     8064
Hair Care                   2459
Bath & Shower               2140
Fragrance                   2107
Detergents & Dishwash        197
Name: Category, dtype: int64

In [25]:
#variable Brand
#1.total number of Brands searched
#2.number of different Brands
df2.describe()

#totally 29913 Brands was searched.

#there are totally 8454 different Brands in the Product list.

count          29913
unique          8454
top       CHOCOCRAFT
freq            1465
Name: Brand, dtype: object

In [26]:
#3.top 10 most searched products by Brand
#4.top 10 least searched products by Brand
df2.value_counts()

#top 10 most searched products by Brand are CHOCOCRAFT, Generic, Chocholik, World Beauty, BOGATCHI, Stockout, Parag fragrances, Homely, Royal Beauty and De'Arco Chocolatier.

#there are many least searched products by Brand i.e which are searched only once.

CHOCOCRAFT                         1465
Generic                            1284
Chocholik                           698
World Beauty                        527
BOGATCHI                            420
Stockout                            408
Parag fragrances                    395
Homely                              381
Royal Beauty                        360
Unknown                             286
De'Arco Chocolatier                 266
Ancient Flower                      246
BeautyNeeds                         196
Ubervia                             168
SLB Works                           152
BuyChoice                           148
YaYa cafe                           144
dève herbes                         138
Khadi                               126
PINK PLUMS                          124
Genuine                             118
Shrinika                            112
R V Essential                       109
PINKDOSE                             98
                                     97
atoz prime                           95
Greenwood Essential                  94
sensadore                            88
Midiron                              83
Business To Customer                 82
                                   ...
HillDews                              1
BlueOrange                            1
Lyle%27s                              1
CADBURRY                              1
cold pressed oils( KACHI GHANI)       1
Aroura Achar Since 1944               1
Swasy                                 1
Anvera                                1
Epic                                  1
Da Yogis                              1
Herbs & More                          1
Toms                                  1
FineX                                 1
Basket                                1
KKS Oil                               1
Organic & Botanic                     1
CONTEXT                               1
Candi Andi                            1
AriaStarrBeauty                       1
LAKMÉ                                 1
Nalabagam                             1
Smooth                                1
Moddy's                               1
NewU                                  1
Gloria Vanderbilt                     1
Texas+Beard+Company                   1
Truvisage                             1
Toute                                 1
Celestial Seasonings                  1
WAGA                                  1
Name: Brand, Length: 8454, dtype: int64

In [27]:
#variable Stock Availibility
#1.status on availibility of products
df["Stock Availibility"].value_counts()
#out of 30,000 total products by Category, 29523 were made available for purchase and 477 were out of stock.

YES    29523
NO       477
Name: Stock Availibility, dtype: int64